.layout .layout-header{
    background: #363e4f;
}

.layout .ivu-layout-sider-children{
    border-top: 1px solid #515a6e;
}

.layout{
    height: 100%;
}

.ivu-layout{
    height: 100%;
}

.layout-header-logo{
    width: 3.5em;
    vertical-align: middle;
}


.layout-header-logo-div{
    float: left;
    height: 100%;
}

.layout-header-user-div{
    float: right;
}

.layout-header-user-avatar{
    margin-right: 7px;
}

.layout-header-user-username{
    color: white;
    font-size: 15px;
    float: right;
}

.parking-lot-div .new-btn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background: #ff3c15;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px red;
}

.page-div{
    margin-top: 15px;
    float: right;
}

.parking-lot-div .parking-lot-div-input-search{
    width: 34%;
    margin-bottom: 5px;
}

.parking-boy-div .parking-boy-div-select-search-by-status{
    width: 10%;
    float: left;
}

.parking-boy-div .parking-boy-div-select-search-by-tags{
    width: 20%;
    float: left;
    margin-right: 20px;
}

.parking-boy-div .parking-boy-div-input-search-by-number{
    width: 25%;
    margin-bottom: 5px;
    float: left;
    margin-right: 20px;
}

.parking-boy-div .ivu-table-wrapper{
    float: left;
    width: 100%;
}

.parking-boy-div .parking-boy-div-input-search{
    width: 25%;
    margin-bottom: 5px;
    float: left;
    margin-right: 20px;
}

.parking-boy-div .ivu-transfer{
    width: 50%;
}

.parking-lot-div .input-number{
    width: 100%;
}

.employee-div-operation-div{
    width: 17%;
    margin-bottom: 3px;
}
.parking-boy-div .ivu-table-wrapper{
    overflow: visible;
}

.parking-lot-dashboard-div .circle-card .ivu-card-head{
    background-color: #fafafa;
}
.transfer-lot-div .ivu-transfer {
    margin: 0 auto;
}
.employee-div .new-btn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background: #ff3c15;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px red;
}

.parking-boy-div .status-icon {
    margin-left: 2px;
    top: -1px;
}
.parking-lot-dashboard-div-row{
    margin-bottom: 20px;
    position: relative;
}

.layout-header-logo-div .span{
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.login-div{
    width: 100%;
}

.login-div .logo{
    width: 50%;
    text-align: center;
    margin: 200px auto 50px;
}

.login-div .logo-img{
    width: 130px;
}

.login-div .form-div{
    width: 400px;
    margin: 0 auto;
}

.login-div .login-form-item-submit{
    text-align: center;
}

.login-form-item-submit button{
    width: 400px;
}

.login-div .radio-icon{
    width: 13px;
    top: 1px;
    position: relative;
}

.login-div .manager-radio{
    margin-left: 20px;
}

.login-div .role-radio-group{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.parking-lot-dashboard-div .circle-div{
    text-align: center;
}

.parking-lot-dashboard-div .circle-span{
    text-align: center;
}