.layout .layout-header{
    background: #363e4f;
}

.layout .ivu-layout-sider-children{
    border-top: 1px solid #515a6e;
}

.layout{
    height: 100%;
}

.ivu-layout{
    height: 100%;
}

.layout-header-logo{
    width: 3.5em;
    vertical-align: middle;
}


.layout-header-logo-div{
    float: left;
}

.layout-header-user-div{
    float: right;
}

.layout-header-user-avatar{
    margin-right: 7px;
}

.layout-header-user-username{
    color: white;
    font-size: 15px;
    float: right;
}

.parking-lot-div .new-btn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background: #ff3c15;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px red;
}

.page-div{
    margin-top: 15px;
    float: right;
}

.parking-lot-div .parking-lot-div-input-search{
    width: 34%;
    margin-bottom: 5px;
}

.parking-lot-div .input-number{
    width: 100%;
}

.employee-div-operation-div{
    width: 17%;
    margin-bottom: 3px;
}
.parking-boy-div .ivu-table-wrapper{
    overflow: visible;
}

.parking-lot-dashboard-div .circle-card .ivu-card-head{
    background-color: #fafafa;
}
.transfer-lot-div .ivu-transfer {
    margin: 0 auto;
}
.employee-div .new-btn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background: #ff3c15;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px red;
}

.parking-lot-dashboard-div-row{
    margin-bottom: 20px;
}
